!!!
%html
  %head
    %title
      Super Simple Chat with Sinatra
    %meta{charset: "utf-8"}
    %link{rel: 'stylesheet', href: "stylesheets/screen.css"}
  %body

    .container

      %h1
        Sinatra Drinks Coffee

      = yield

    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{src: "javascripts/login.js"}
    %script{src: "javascripts/chat.js"}
    %script{src: "javascripts/greeting.js"}
