/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../app/assets/stylesheets/_layout.scss */
.container {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p362@sinatra-drinks-coffee/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 2, ../../app/assets/stylesheets/_typography.scss */
h1, h2, h3 {
  font-weight: bold;
  color: #eeeeee;
}

/* line 6, ../../app/assets/stylesheets/_typography.scss */
h1 {
  font-size: 41.88678px;
  padding-top: 16px;
}

/* line 11, ../../app/assets/stylesheets/_typography.scss */
h2 {
  font-size: 25.888px;
}

/* line 15, ../../app/assets/stylesheets/_typography.scss */
h3 {
  font-size: 16px;
}

/* line 19, ../../app/assets/stylesheets/_typography.scss */
h4 {
  text-transform: uppercase;
  font-size: 16px;
}

/* line 25, ../../app/assets/stylesheets/_typography.scss */
label {
  font-size: 25.888px;
  text-transform: capitalize;
}

/* line 30, ../../app/assets/stylesheets/_typography.scss */
input {
  font-size: 16px;
}

/* line 1, ../../app/assets/stylesheets/_forms.scss */
form {
  background: #d1cab5;
  margin-top: 32px;
  padding-top: 25.888px;
  padding-bottom: 25.888px;
  padding-left: 25.888px;
  padding-right: 25.888px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 12, ../../app/assets/stylesheets/_forms.scss */
form.horizontal {
  display: block;
}
/* line 15, ../../app/assets/stylesheets/_forms.scss */
form.horizontal input[type=text] {
  display: block;
  width: 96%;
}
/* line 23, ../../app/assets/stylesheets/_forms.scss */
form.vertical label, form.vertical input[type=submit] {
  display: block;
}
/* line 27, ../../app/assets/stylesheets/_forms.scss */
form.vertical input[type=submit] {
  margin-top: 8px;
}
/* line 31, ../../app/assets/stylesheets/_forms.scss */
form.vertical input[type=text] {
  width: 40%;
  min-width: 300px;
}
/* line 37, ../../app/assets/stylesheets/_forms.scss */
form label {
  color: #444444;
}
/* line 41, ../../app/assets/stylesheets/_forms.scss */
form input[type=submit] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d2e2e), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#4d2e2e, #111111);
  background-image: -moz-linear-gradient(#4d2e2e, #111111);
  background-image: -o-linear-gradient(#4d2e2e, #111111);
  background-image: linear-gradient(#4d2e2e, #111111);
  color: #f1f1f1;
  text-shadow: 0px -1px 1px rgba(17, 17, 17, 0.8);
  cursor: pointer;
}
/* line 54, ../../app/assets/stylesheets/_forms.scss */
form input[type=text] {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #4d2e2e;
  color: #111111;
  background: #f1f1f1;
}
/* line 64, ../../app/assets/stylesheets/_forms.scss */
form input[type=text]:focus {
  border: 1px solid #4d2e2e;
}

/* line 1, ../../app/assets/stylesheets/_window.scss */
body {
  font-family: "Helvetica Neue", "Arial", "Sans-Serif";
  background: #4d2e2e;
  color: #d1cab5;
  font-size: 16px;
}

/* line 2, ../../app/assets/stylesheets/_chat.scss */
.chat #conversation {
  color: #444444;
  padding: 32px;
  font-size: 25.888px;
}

/* line 1, ../../app/assets/stylesheets/_login.scss */
.login {
  background: #000;
}
