// headers
h1, h2, h3 {
  font-weight: bold;
  color: $light-grey;
}
h1 {
  font-size: $base-font-size * $golden * $golden;
  padding-top: $base-font-size;
}

h2 {
  font-size: $base-font-size * $golden;
}

h3 {
  font-size: $base-font-size;
}

h4 {
  text-transform: uppercase;
  font-size: $base-font-size;
}

// forms
label {
  font-size: $base-font-size * $golden;
  text-transform: capitalize;
}

input {
  font-size: $base-font-size;
}