body {
  font-family: "Helvetica Neue", "Arial", "Sans-Serif";
  background: $theme-dark;
  background-image: image-url('coffeescript-logo-device.png');
  color: $default-text-color;
  font-size: $base-font-size;
}
